$gray: #ddd;
$radius: 4px;
$white: #fff;
$gray_lightest: #f7f7f7;
$transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
$img_path: "/src/assets/images";
.cmp-checkbox {
    min-width: 1rem;
    height: 1rem;
    cursor: pointer;
    border: 1px solid $gray;
    border-radius: $radius;
    background: $white;

    &::before {
        width: 1.7rem;
        height: 1.1rem;
        margin: auto;
        content: "";
        transition: $transition;
        opacity: 0;
        background: url("#{$img_path}/icon-checkbox.svg") no-repeat 50% 50%;
    }

    &:checked {
        &::before {
            opacity: 1;
        }
    }

    &.is-disable {
        pointer-events: none;
        background: $gray_lightest;

        &::before {
            background: url("#{$img_path}/icon-checkbox-gray.svg") no-repeat 50% 50%;
        }
    }
}
