$fs12: 12px;
$narrow: 5px;
$normal: 10px;
$goldRatio: 1.618;
$dark: #222222;
$light: #FFFFFF;
$radius: 5px;

.block-pagination {
  font-size: $fs12;
  display: flex;
  align-items: center;
  gap: $narrow;
  justify-content: center;
 
  &__right, &__text, &__items {
    display: flex;
    align-items: center;
  }

  &__right {
    margin-left: auto;
    gap: 0 $normal;
  }

  &__text {
    white-space: nowrap;
    gap: $narrow/$goldRatio;
  }

  &__items {
    font-size: $fs12;
    justify-content: center;
    gap: $narrow/$goldRatio;
  }

  &__item {
    display: flex;
    width: 2rem;
    height: 2rem;
    border: 1px solid $dark;
    border-radius: $radius;
    background: $dark;
    align-items: center;
    justify-content: center;
    color: $light;
    &--current {
      font-weight: bold;
      pointer-events: none;
      .block-pagination__item {
        background-color:$light ;
        color: #333 !important;
      }
    }
    &:hover {
      background: $light;
      color: $dark;
    }

    &--arrow {
      @extend .block-pagination__item;
      // min-width: 10rem;
      padding: $narrow/$goldRatio;
      img {
        margin: 0;
      }
    }

    &--ellipsis {
      @extend .block-pagination__item;
      width: max-content;
      border: none;
      background: none;
      align-items: flex-end;
      &:hover {
        background: transparent;
      }
    }
  }
}

